fieldset form input
{
    margin: .6%;
}
legend
{
    font-weight: bolder;
    font-size: 150%;
}
#main
{
    margin-left: 7%;
    text-align: left;
}
fieldset
{
    border: 16px dashed #eee;
    border-radius: 18px;
    box-shadow: 0 2px 60px #999;
}
fieldset #prod_qtde
{
    width: 6%;
}
fieldset #p_unitario
{
    width: 90px;
}
fieldset #p_total
{
    width: 110px;
}
select
{
    width: 180px;
}
fieldset input, select
{
    background-color: #eee;
    color: #000;
    border: 1px solid #bbb;
    height: 5%;
    width: 20%;
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 2px 2px 10px #999;
    height: 30px;
}
#btn
{
    font-weight: bolder;
    background-color: #eee;
    color: #000;
    border: 1px dotted #000;
    height: 40px;
    width: 20%;
    border-radius: 3px;
    text-align: center;
    box-shadow: none;
}
#btn:hover
{
    background-color: #fff;
}
p
{
    margin: 4%;
    font-weight: bolder;
}